// Button area start here ***
.btn {
	&-one {
		display: inline-block;
		font-weight: 600;
		color: var(--theme-color1);
		text-transform: capitalize;
		padding: 16px 30px;
		border-radius: 30px;
		line-height: 1;
		transition: 0.5s;
		background-color: transparent;
		border: 1px solid var(--theme-color1);
		position: relative;
		z-index: 2;
		.icon_box {
			position: relative;
			display: inline-flex;
			overflow: hidden;
			padding: 0 4px;
			.icon_second,
			.icon_first {
				display: inline-flex;
				line-height: 1;
				transition: all 0.3s ease-in-out 0s;
				color: var(--theme-color1);
				animation: none;
			}
			.icon_second {
				position: absolute;
				transform: translateX(-150%);
				color: var(--theme-color-white);
			}
		}
		&:hover {
			background-color: var(--theme-color1);
			border-color: var(--theme-color1);
			color: var(--theme-color-white);
			.icon_box {
				.icon_first {
					transform: translateX(150%);
				}
				.icon_second {
					transform: translateX(0%);
				}
			}
		}
		&-light {
			@extend .btn-one;
			border: 1px solid var(--theme-color-white);
			color: var(--theme-color-white);
			background-color: transparent;
			.icon_first,
			.icon_second {
				color: var(--theme-color-white) !important;
			}
			&:hover {
				background-color: transparent;
				border: 1px solid var(--theme-color-white);
			}
		}
	}
	&-two {
		@extend .btn-one;
		background-color: var(--theme-color1);
		color: var(--theme-color-white);
		.icon_first,
		.icon_second {
			color: var(--theme-color-white) !important;
		}
		&:hover {
			background-color: var(--theme-color2);
			border: 1px solid transparent;
		}
		&-light {
			@extend .btn-two;
			background-color: var(--theme-color-white);
			color: var(--theme-color2);
			border: 1px solid transparent;
			font-family: var(--text-font);
			.icon_first,
			.icon_second {
				color: var(--theme-color2) !important;
			}
			&:hover {
				background-color: var(--theme-color1);
				.icon_first,
				.icon_second {
					color: var(--theme-color-white) !important;
				}
			}
		}
		&-dark {
			@extend .btn-two;
			background-color: var(--theme-color2);
			border: none;
			&:hover {
				border: none;
				background-color: var(--theme-color1);
			}
		}
	}
	&-three {
		padding: 10px 30px;
		display: inline-block;
		border-radius: 30px;
		background-color: var(--theme-color2);
		color: var(--theme-color-white);
		font-family: var(--text-font);
		text-transform: capitalize;
		font-weight: 400;
		position: relative;
		z-index: 1;
		overflow: hidden;
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			background-color: var(--theme-color1);
			z-index: -1;
			border-radius: 30px;
			transition: all 0.3s;
			transform: scaleX(0);
		}
		&:hover {
			&::after {
				transform: scaleX(1);
			}
		}
	}
	&-video {
		position: relative;
		text-align: center;
		display: inline-block;
		z-index: 2;
		a {
			position: relative;
			color: var(--theme-color-white);
			font-size: 24px;
			z-index: 1;
			background-color: #ffffff33;
			backdrop-filter: blur(10px);
			width: 100px;
			height: 100px;
			line-height: 100px;
			border-radius: 50%;
			display: block;
			@include breakpoint(max-md) {
				width: 50px;
				height: 50px;
				line-height: 50px;
				font-size: 16px;
			}
		}
		&.video-pulse {
			&::after,
			&::before {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				border: 20px solid rgb(255, 255, 255, 0.7);
				opacity: 0.3;
				left: 0;
				top: 0;
				border-radius: 50%;
				-webkit-animation-duration: 2.5s;
				animation-duration: 2.5s;
				-webkit-animation-timing-function: linear;
				animation-timing-function: linear;
				-webkit-animation-name: video-animation;
				animation-name: video-animation;
				-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
				@-webkit-keyframes video-animation {
					0% {
						transform: scale(1);
					}
					50% {
						transform: scale(1.3);
					}
					100% {
						opacity: 0;
						transform: scale(1.5);
					}
				}

				@keyframes video-animation {
					0% {
						transform: scale(1);
					}
					50% {
						transform: scale(1.3);
					}
					100% {
						opacity: 0;
						transform: scale(1.5);
					}
				}
			}
			&::before {
				-webkit-animation-delay: 1s;
				animation-delay: 1s;
			}
		}
	}
	&-backToTop {
		@include radius(40px, 40px, 40px);
		border-radius: 12px;
		background-color: var(--theme-color2);
		color: var(--theme-color-white);
		font-size: 18px;
		box-shadow: 0px 4px 30px 0px #0000000d;
		position: fixed;
		z-index: 99;
		right: 30px;
		bottom: 30px;
		transition: all 0.3s;
		opacity: 0;
		visibility: hidden;
		&:hover {
			background-color: var(--theme-color1);
			box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
		}
		&.show {
			opacity: 1;
			visibility: visible;
			transform: translate(0);
		}
	}
}
// Button area end here ***

// Swiper Button area start here ***
.arry-prev {
	@include radius(40px, 40px, 40px);
	color: var(--theme-color-black);
	transition: all 0.3s;
	border: 1px solid transparent;
	font-size: 16px;
	background-color: #2330321a;
	@include breakpoint(max-md) {
		@include radius(40px, 40px, 40px);
		font-size: 14px;
	}
	&:hover {
		background-color: #23303233;
		color: var(--theme-color-black);
		border: 1px solid transparent;
	}
	&.active {
		background-color: #23303233;
		color: var(--theme-color-black);
		border: 1px solid transparent;
	}
}
.arry-next {
	@extend.arry-prev;
}
// Swiper Button area end here ***


/*=======================
Scroll To Top style
=======================*/

.scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    font-size: 16px;
    line-height: 40px;
    color: var(--theme-color-white);
    text-align: center;
    cursor: pointer;
    background-color: var(--theme-color1);
    z-index: 100;
    // display: none;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
	transition: all 0.3s;
    @include media-breakpoint-down(xxl){
        bottom: 70px;
    }
}

.scroll-to-top:hover {
    background: var(--theme-color-dark);
    color: #ffffff;
}
