.accordion-box {
  position: relative;
  .block {
    position: relative;
    background-color: var(--theme-color-light);
    .acc-btn {
      border-bottom: 1px solid #e1e1e1;
      position: relative;
      font-family: var(--title-font);
      font-size: 18px;
      line-height: 24px;
      color: var(--theme-color-dark);
      font-weight: 400;
      cursor: pointer;
      padding: 28px 20px 20px 40px;
      letter-spacing: -.01em;
      transition: all 500ms ease;
      .icon{
        position: absolute;
        top: 27px;
        left: 0;
        line-height: 28px;
        color: var(--theme-color1);
        font-size: 20px;
        @include transition(all 300ms ease);
      }
      .arrow {
        position: absolute;
        right: 10px;
        top: 30px;
        font-size: 20px;
        line-height: 1;
        font-weight: 400;
        color: var(--theme-color-dark);
        text-align: center;
        @include transition(all 300ms ease);
      }
    }
    .acc-btn.active {
      color: var(--theme-color-dark);
      .arrow {
        font-size: 20px;
        color: var(--theme-color-dark);
        transform: rotate(180deg);
        &:before {
          content: "\f068";
        }
      }
      .icon{
        transform: scale(-1) rotate(180deg);
      }
    }
    .acc-content {
      font-size: 14px;
      position: relative;
      display: none;
      .content {
        position: relative;
        padding: 11px 30px 3px 0;
        .text {
          display: block;
          font-size: 14px;
          margin-bottom: 0;
        }
      }
    }
    .acc-content.current {
      display: block;
    }
  }
  &.style-two{
    .block {
      position: relative;
      border: none;
      width: 100%;
      padding: 7px 17px 10px;
      margin-bottom: 12px;
      box-shadow: 0  0 43px rgba(0, 0, 0, 0.06);
      background-color: var(--theme-color-light);
      @include media-breakpoint-down(lg){
        padding: 7px 10px 10px;
      }
      .acc-btn {
        font-weight: 700;
        @include media-breakpoint-down(sm){
          padding-left: 70px;
        }
      }
      .arrow {
        right: 4px;
      }
      .content {
        padding: 10px 0 10px;
        .text {
          font-size: 16px;
          line-height: 30px;
          letter-spacing: -.01em;
          color: #7a7a7a;
          @include media-breakpoint-down(lg){
            line-height: 24px;
            margin-top: 5px;
          }
        }
      }
      .acc-btn.active {
        color: var(--theme-color1);
        .arrow,
        .icon {
          color: var(--theme-color1);
        }
        .count {
          background-color: var(--theme-color1);
          color: var(--theme-color-light);
        }
      }
    }
    .count {
      position: absolute;
      top: 0;
      left: 0;
      width: 57px;
      height: 57px;
      line-height: 57px;
      color: #a6a6a6;
      background-color: #f2f3f6;
      text-align: center;
      @include media-breakpoint-down(sm){
        top: 5px;
      }
    }
  }
}