
/*=== Default Form ===*/

@function form-control-height() {
  @return calc(2.25rem + 27px);
}
.form-control, .input-text {
    height: form-control-height();
    padding: 14px 30px;
    outline: 0;
    background-color: #f4f5f8;
    border: 1px solid #f4f5f8;
    color: var(--theme-color-dark);
    font-size: 0.9rem;
    width: 100%;
    &::placeholder {
        color: var(--theme-color-dark);
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: var(--theme-color-dark);
    }
    &::-ms-input-placeholder {
        color: var(--theme-color-dark);
    }
}
textarea {
    &.form-control {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
