// Logo area start here ***
.logo {
	display: block;
	width: 189px;
	img {
		width: 100%;
	}
}
// Logo area end here ***

// Header area start here ***
.header {
	&-top {
		&-area {
			overflow: hidden;
			background-color: #f9f6f1;
			height: 100px;
			padding: 10px 0;
		}
		&__wrp {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
		}
		&__links {
			a {
				color: var(--theme-color2);
				font-family: var(--text-font);
				&:hover {
					color: var(--theme-color1);
				}
			}
		}
		&__socials {
			@include flex;
			gap: 15px;
			.time {
				margin-right: 20px;
				color: var(--theme-color2);
				span {
					color: var(--theme-color1);
				}
			}
			a {
				color: var(--theme-color2);
				&:hover {
					color: var(--theme-color1);
				}
			}
		}
	}
	&-area {
		top: 0px;
		position: fixed;
		width: 100%;
		z-index: 99;
		&.header-blur {
			&::after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				content: "";
				background-color: #ffffff4f;
				backdrop-filter: blur(30px);
			}
			.logo-light {
				display: none;
			}
			.logo-main {
				display: block;
			}
		}
		&.menu-fixed {
			top: 0;
			background-color: var(--theme-color-white);
			box-shadow: 0px 4px 30px 0px #0000000d;
			&.header-blur {
				&::after {
					background-color: var(--theme-color-black);
					backdrop-filter: blur(0px);
				}
				.logo-main {
					display: none;
				}
				.logo-light {
					display: block;
				}
			}
		}
		@include breakpoint(max-lg) {
			top: 0;
		}
	}
	&__main {
		@include justify-wrp;
		.main-menu {
			@include flex;
			gap: 60px;
			nav{
				@include breakpoint(max-lg) {
					display: none;
				}
			}
			ul {
				@include flex;
				gap: 40px;
				@include breakpoint(max-xl) {
					gap: 20px;
				}
				li {
					position: relative;
					a {
						font-weight: 600;
						padding: 40px 0;
						font-size: 14px;
						line-height: 26px;
						color: var(--headings-color);
						text-transform: uppercase;
						@include breakpoint(max-xl) {
							font-size: 16px;
						}
						i {
							font-size: 12px;
							transition: all 0.3s;
						}
					}
					.sub-menu {
						position: absolute;
						left: 0;
						top: 105px;
						z-index: 99;
						flex-direction: column;
						gap: 0;
						width: 220px;
						border-top: 2px solid var(--theme-color1);
						box-shadow: 0px 4px 30px 0px #0000000d;
						background-color: var(--theme-color-white);
						border-radius: 0px;
						transition: all 0.3s;
						opacity: 0;
						visibility: hidden;
						transform: translateY(10px);
						li {
							width: 100%;
							&:not(:last-child) {
								border-bottom: 1px solid
									rgba(var(--theme-color-black-rgb), 0.1);
							}
							a.arrow {
								&:after {
									content: "\f105";
									font-family: "Font Awesome 6 Pro";
									display: block;
									font-size: 11px;
									font-weight: 900;
									line-height: 24px;
									position: absolute;
									right: 15px;
									top: 11px;
									z-index: 5;
									transform: rotate(90deg);
									transition: all 0.3s;
								}
							}
							a {
								display: block;
								padding: 10px 20px;
								color: var(--headings-color) !important;
								text-transform: capitalize;
								i {
									float: right;
									transform: rotate(-0deg) !important;
									margin-top: 8px;
									color: var(--headings-color) !important;
								}
							}
							.sub-sub-menu {
								position: absolute;
								left: 210px;
								top: -2px;
								z-index: 99;
								flex-direction: column;
								gap: 0;
								width: 220px;
								border-top: 2px solid var(--theme-color1);
								box-shadow: 0px 4px 30px 0px #0000000d;
								background-color: var(--theme-color-white);
								border-radius: 0px;
								transition: all 0.3s;
								opacity: 0;
								visibility: hidden;
								transform: translateX(-10px);
								li {
									width: 100%;
									&:not(:last-child) {
										border-bottom: 1px solid
											rgba(var(--theme-color-black-rgb), 0.1);
									}
									a {
										display: block;
										padding: 10px 20px !important;
										color: var(--headings-color) !important;
									}
									&:hover {
										a {
											padding-left: 25px !important;
											color: var(--theme-color1) !important;
										}
									}
								}
								&.new-badge {
									&::after {
										position: absolute;
										top: 4px;
										right: 4px;
										padding: 0 4px;
										background-color: #f44336;
										color: var(--theme-color-white);
										text-transform: uppercase;
										content: "NEW";
										font-size: 12px;
										font-weight: 300;
										line-height: 15px;
									}
								}
							}
							&:hover {
								a.arrow {
									&:after {
										transform: rotate(0deg);
									}
								}
								a {
									padding-left: 25px;
									color: var(--theme-color1) !important;
									i {
										transform: rotate(-90deg) !important;
										color: var(--theme-color1) !important;
									}
								}
								.sub-sub-menu {
									opacity: 1;
									visibility: visible;
									transform: translateX(0px);
								}
							}
						}
					}

					&:hover {
						.sub-menu {
							opacity: 1;
							visibility: visible;
							transform: translateY(0px);
						}
						&:hover {
							a {
								color: var(--theme-color1);
							}
							i {
								transform: rotate(-180deg);
								color: var(--theme-color1);
							}
						}
					}
				}
			}
			&-light {
				ul {
					li {
						a {
							color: var(--theme-color-white);
						}
						&:hover {
							a {
								color: var(--theme-color-white) !important;
							}
							i {
								color: var(--theme-color-white) !important;
							}
						}
						.sub-menu {
							background-color: var(--theme-color-black);
							border: 1px solid rgba(var(--theme-color-black-rgb), 0.1);
							li {
								&:not(:last-child) {
									border-bottom: 1px solid
										rgba(var(--theme-color-white-rgb), 0.1);
								}
								a {
									color: var(--theme-color-white) !important;
									i {
										color: var(--theme-color-white) !important;
									}
								}
								&:hover {
									a {
										color: var(--theme-color-white) !important;
									}
								}
								.sub-sub-menu {
									background-color: var(--theme-color-black);
									li {
										a {
											color: var(--theme-color-white) !important;
										}
										&:hover {
											a {
												padding-left: 25px !important;
												color: var(--theme-color-white) !important;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		@include breakpoint(max-lg) {
			padding: 15px 0;
		}
		.menu-btns {
			@include flex;
			gap: 25px;
			.search-trigger {
				font-size: 24px;
				color: var(--headings-color);
			}
			&.light {
				.search-trigger {
					color: var(--theme-color-white);
				}
			}
			.book-now {
				display: inline-block;
				padding: 10px 30px;
				font-weight: 800;
				font-family: var(--text-font);
				color: var(--theme-color-white);
				background-color: var(--theme-color1);
				border-radius: 35px;
				svg {
					margin-left: 10px;
					margin-top: -5px;
					transition: all 0.3s;
				}
				&:hover {
					svg {
						transform: rotate(-360deg);
					}
				}
			}
			.shop-cart {
				position: relative;
				z-index: 1;
				.countity {
					font-size: 10px;
					position: absolute;
					top: -5px;
					right: -5px;
					display: block;
					width: 22px;
					height: 22px;
					line-height: 22px;
					text-align: center;
					border-radius: 50%;
					font-weight: 500;
					font-family: var(--text-font);
					color: var(--theme-color-white);
					background-color: var(--theme-color2);
				}
			}
		}
		.menubars {
			width: 28px;
			line-height: 8px;
			text-align: left;
			span {
				width: 100%;
				height: 2px;
				background-color: var(--headings-color);
				transition: all 0.3s;
				&:nth-child(2) {
					width: 70%;
					text-align: right;
				}
				&:nth-child(3) {
					width: 90%;
					text-align: right;
				}
			}
			svg {
				path {
					transition: all 0.3s;
				}
			}
			&:hover {
				span {
					&:nth-child(2) {
						width: 100%;
					}
					&:nth-child(3) {
						width: 100%;
					}
				}
				svg {
					path {
						fill: var(--theme-color1);
					}
				}
			}
			&-light {
				span {
					background-color: var(--theme-color-white);
				}
			}
		}
	}
	&-one {
		&__wrp {
			margin: 0 50px;
			@include breakpoint(max-md) {
				margin: 0 15px;
			}
		}
	}
	&-two {
		&-area {
			top: 52px;
			position: fixed;
			width: 100%;
			z-index: 99;
			background-color: transparent;
			&.menu-fixed {
				.header-two__wrp {
					padding: 0;
					border: none;
				}
			}
			@include breakpoint(max-lg) {
				top: 15px;
			}
		}
		&__wrp {
			background-color: var(--theme-color-white);
			border: 1px solid #e8e3da;
			padding: 0 30px;
			@include breakpoint(max-lg) {
				padding: 0 12px;
			}
		}
	}
	&-three {
		&-area {
			position: unset;
			&.menu-fixed {
				position: fixed;
				width: 100%;
				z-index: 99;
				top: 0;
				background-color: var(--theme-color-white);
				box-shadow: 0px 4px 30px 0px #0000000d;
			}
			.container {
				max-width: 1720px;
			}
		}
	}
	&-four {
		&-area {
			&::after {
				position: absolute;
				top: 0;
				right: 0;
				width: 45%;
				height: 100%;
				background-color: var(--theme-color2);
				content: "";
				z-index: -1;
				clip-path: polygon(0 0, 100% 0%, 100% 100%, 4% 100%);
				@include breakpoint(max-lg) {
					display: none;
				}
			}
			&.menu-fixed {
				background-color: var(--theme-color2);
			}
		}
	}
	&-six {
		&__main {
			max-width: 1550px;
			margin: 0 auto;
		}
	}
}
// Header area end here ***

// Offcanvas area start here ***
.sidebar-area {
	width: 375px !important;
	border-left: 3px solid var(--theme-color1) !important;
	@media screen and (max-width: 375px) {
		width: 320px !important;
	}
	&-backdrop {
		background-color: rgba(0, 0, 0, 0.8);
		cursor: url(../images/icon/x.png) 16 16, auto;
		&.show {
			opacity: 1;
		}
	}
	.btn-close {
		@include radius(25px, 25px, 25px);
		font-size: 22px;
		color: var(--theme-color-white);
		background-color: var(--theme-color1);
		opacity: 1;
		background-image: none;
		transition: all 0.3s;
		&:hover {
			transform: rotate(90deg);
		}
	}
}
// Offcanvas area end here ***

// Sidebar area start here ***
.sidebar {
	&-area {
		z-index: 99999;
		background-color: var(--headings-color);
	}
	&__socials {
		ul {
			@include flex;
			gap: 12px;
			li {
				@include radius(40px, 40px, 35px);
				border: 1px solid rgba(var(--theme-color-white-rgb), 0.1);
				background-color: var(--theme-color1);
			}
		}
	}
	&__btns {
		@include flex;
		gap: 12px;
		a {
			padding: 6px 16px;
			border-radius: 8px;
			color: var(--theme-color-white);
			background-color: var(--theme-color1);
			border: 1px solid rgba(var(--theme-color-white-rgb), 0.1);
		}
	}
	&__contact-info {
		ul {
			li {
				&:not(:last-child) {
					margin-bottom: 10px;
				}
				i {
					color: var(--theme-color-white);
					margin-right: 8px;
				}
				a {
					color: var(--text-color2);
				}
			}
		}
	}
	&__text {
		color: var(--text-color2);
	}
	&__body {
		margin-top: 30px;
		.mean-container .mean-nav {
			background-color: var(--headings-color);
		}
		.mean-container .mean-nav ul li a.mean-expand {
			background-color: var(--theme-color1);
		}
	}
}

.offcanvas {
	position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--white);
    visibility: hidden;
	background-color: var(--headings-color);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
	width: 375px !important;
	border-left: 3px solid var(--theme-color1) !important;
	transform: translateX(100%);
	@media screen and (max-width: 375px) {
		width: 320px !important;
	}
	&-backdrop {
		background-color: rgba(0, 0, 0, 0.8);
		cursor: url("/assets/images/icon/x.png") 16 16, auto;
		&.show {
			opacity: 1;
		}
	}
	.btn-close {
		@include radius(25px, 25px, 25px);
		font-size: 22px;
		background-color: var(--theme-color1);
		opacity: 1;
		background-image: none;
		transition: var(--transition);
		&:hover {
			transform: rotate(90deg);
		}
	}
}

.offcanvas.open {
    z-index: 99999;
	visibility: visible;
    background-color: var(--headings-color);
	transform: none;
}
// Sidebar area end here ***

// Mobile menu area start here ***
.mobile-menu{
	.mean-nav{
		ul{
			display: none;
			@include breakpoint(max-lg) {
				display: block;
			}
			li{
				position: relative;
				float: left;
				width: 100%;
				a{
					display: block;
					float: left;
					width: 100%;
					padding: 10px 0;
					margin: 0;
					text-align: left;
					color: #fff;
					border-top: 1px solid rgba(255, 255, 255, 0.25);
				}
				.dropdown-btn{
					i{
						width: 30px;
						height: 30px;
						line-height: 14px;
						text-align: center;
						color: #fff;
						position: absolute;
						right: 0px;
						top: 10px;
						z-index: 2;
						font-weight: 700;
						background-color: var(--theme-color1);
						border-radius: 10px;
						padding: 8px 0;
					}
				}
			}
		}
	}
}
.mobile-menu.open {
	.meanmenu-reveal {
		display: none !important;
	}
	.mean-nav{
		ul {
			display: block !important;
			li {
				a {
					i {
						display: none;
					}
				}
			}
		}
	}

	
}
// Mobile menu area end here ***

// Fullscreen search area start here ***
.search-wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.8);
	cursor: url(../images/icon/x.png), auto;
	.search-inner {
		position: relative;
		width: 100%;
		height: 100%;
	}
	.search-cell {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
	}
	.search-field-holder {
		width: 50%;
		margin: auto;
		position: relative;
		animation: slideInUp 0.3s;
	}
	.main-search-input {
		width: 100%;
		height: 70px;
		border: 0;
		padding: 0 50px;
		background: transparent;
		font-size: 25px;
		color: var(--theme-color-white);
		border-bottom: 1px solid var(--theme-color-white);
		text-align: center;
		letter-spacing: 2px;
	}
	input.main-search-input::placeholder {
		color: var(--theme-color-white);
		opacity: 1;
		font-size: 24px;
	}

	.search-close {
		position: absolute;
		top: 30px;
		right: 30px;
		font-size: 30px;
		color: var(--theme-color-white);
		cursor: pointer;
		@include radius(50px, 50px, 50px);
		transition: all 0.3s;
		&:hover {
			transform: rotate(90deg);
		}
	}
}
.search-wrap.active{
	display: block;
}
// Fullscreen search area end here ***
