// Faq area start here ***
.faq-section {
	overflow: hidden;
	.outer-box {
		padding: 0 50px;
		@include breakpoint(max-md) {
			padding: 0 15px;
		}
	}

	.image-column {
		.inner-column {
			position: relative;
			z-index: 1;
			overflow: hidden;
			border-radius: 30px;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&::after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 0;
				background: linear-gradient(
					180deg,
					rgba(0, 0, 0, 0) 0%,
					rgba(0, 0, 0, 0.5) 100%
				);
				content: "";
			}
			.title {
				font-size: 110px;
				line-height: 120px;
				font-weight: 500;
				color: var(--theme-color-white);
				position: absolute;
				left: 50px;
				bottom: 40px;
				z-index: 1;
				@include breakpoint(max-md) {
					font-size: 60px;
					line-height: 60px;
					left: 20px;
					bottom: 20px;
				}
				@include breakpoint(max-xs) {
					font-size: 48px;
					left: 20px;
					bottom: 20px;
				}
			}
		}
	}

	.content-column {
		.inner-column {
			padding: 90px;
			background-color: var(--theme-color-gray);
			border-radius: 30px;
			height: 100%;
			position: relative;
			z-index: 1;
			.shape {
				position: absolute;
				bottom: 0;
				right: 0;
				z-index: -1;
			}
			@include breakpoint(max-md) {
				padding: 30px 15px;
			}
		}
	}
}

.faq-accordion {
	.accordion {
		.accordion-header {
			background-color: transparent;
		}
		.accordion-body {
			background-color: transparent;
		}
		.accordion-item {
			border-bottom: 1px solid rgba(var(--theme-color-black-rgb), 0.1);
			margin-bottom: 0;
			background-color: transparent;
		}
	}
}
// Faq area end here ***
