// Funfact area start here ***
.funfact-section {
	overflow: hidden;
}

.funfact-block {
	.inner-box {
		display: flex;
		align-items: center;
		gap: 25px;
		.icon {
			font-size: 60px;
			color: var(--theme-color1);
			svg {
				transition: 0.7s;
			}
		}
		.title {
			font-size: 30px;
			line-height: 45px;
			span {
				color: inherit;
			}
		}
		&:hover {
			.icon {
				svg {
					transform: rotateY(-360deg);
				}
			}
		}
		@include breakpoint(max-sm) {
			flex-direction: column;
			text-align: center;
			justify-content: center;
			gap: 8px;
		}
	}
}
// Funfact area end here ***

// Funfact four area start here ***
.funfact-section-four {
	overflow: hidden;
	padding: 0 45px;
	@include breakpoint(max-md) {
		padding: 0 15px;
	}

	.outer-box {
		background-color: var(--theme-color-gray);
		border-radius: 30px;
		overflow: hidden;
	}

	.items-column {
		padding: 60px 30px;
		@include breakpoint(max-xl) {
			padding: 60px 0px;
		}
	}

	.image-box {
		position: relative;
		z-index: 1;
		overflow: hidden;
		@include bg-image;
		border-radius: 30px;
		padding: 130px 0;
		@include breakpoint(max-md) {
			padding: 80px 0;
		}
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #0000004d;
			content: "";
			z-index: -1;
		}
		.section-header {
			max-width: 1300px;
			margin: 0 auto;
			.title {
				font-size: 110px;
				line-height: 120px;
				font-weight: 500;
				margin-top: 20px;
				@include breakpoint(max-lg) {
					font-size: 60px;
					line-height: 70px;
					margin-top: 10px;
				}
				@include breakpoint(max-sm) {
					font-size: 40px;
					line-height: 50px;
				}
			}
		}
	}
}

.funfact-block-four {
	.inner-box {
		text-align: center;
		.title {
			margin-bottom: 15px;
			font-size: 110px;
			line-height: 120px;
			font-weight: 500;
			@include breakpoint(max-sm) {
				font-size: 40px;
				line-height: 40px;
			}
		}
		.sub-title {
			color: var(--text-color);
		}
	}
}
// Funfact four area end here ***
