// Gellery area start here ***
.gellery-section {
	overflow: hidden;
}

.gellery-block {
	.inner-box {
		position: relative;
		z-index: 1;
		img {
			width: 100%;
		}
		.content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 90%;
			height: 90%;
			background-color: #ffffffcc;
			backdrop-filter: blur(10px);
			display: block;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			i {
				font-size: 40px;
				color: var(--theme-color-black);
				margin-bottom: 20px;
				transition: all 0.3s;
			}
			visibility: hidden;
			transform: translate(-50%, -50%) scale(0.8);
			transition: all 0.3s;
			opacity: 0;
			a {
				&:hover {
					color: var(--theme-color1);
					i {
						color: var(--theme-color1);
					}
				}
			}
		}
		&:hover {
			.content {
				opacity: 1;
				visibility: visible;
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}
}
// Gellery area end here ***

// Gellery two area start here ***
.gallery-section-two {
	overflow: hidden;
}

.gallery-slider-two {
	position: relative;
	z-index: 1;
	.swiper-wrapper {
		align-items: center;
	}

	.gallery-arry-prev-two {
		@include radius(80px, 80px, 80px);
		background-color: var(--theme-color-white);
		color: var(--theme-color2);
		font-size: 18px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		z-index: 1;
		transition: all 0.3s;
		opacity: 0;
		visibility: hidden;
		&:hover {
			background-color: var(--theme-color1);
			color: var(--theme-color-white);
		}
		@include breakpoint(max-lg) {
			display: none;
		}
	}

	.gallery-arry-next-two {
		@include radius(80px, 80px, 80px);
		background-color: var(--theme-color-white);
		color: var(--theme-color2);
		font-size: 18px;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		z-index: 1;
		transition: all 0.3s;
		opacity: 0;
		visibility: hidden;
		&:hover {
			background-color: var(--theme-color1);
			color: var(--theme-color-white);
		}
		@include breakpoint(max-lg) {
			display: none;
		}
	}

	&:hover {
		.gallery-arry-prev-two {
			opacity: 1;
			visibility: visible;
			left: 20px;
		}
		.gallery-arry-next-two {
			opacity: 1;
			visibility: visible;
			right: 20px;
		}
	}
}

.gallery-block-two {
	.inner-box {
		border-radius: 30px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.5) 87.5%
			);
			content: "";
		}
		img {
			width: 100%;
			transition: 0.7s;
		}
		.content {
			position: absolute;
			bottom: 40px;
			left: 40px;
			z-index: 1;
			.title,
			.sub-title {
				color: var(--theme-color-white);
				margin-top: 5px;
				a {
					&:hover {
						letter-spacing: 1px;
						color: var(--theme-color1);
					}
				}
			}
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
}
// Gellery two area end here ***
