// Instagram area start here ***
.instagram-section {
	overflow: hidden;
}

.instagram-slider {
	.swiper-wrapper {
		-webkit-transition-timing-function: linear;
		transition-timing-function: linear;
	}
}

.instagram-block {
	.inner-box {
		display: block;
		position: relative;
		z-index: 1;
		img {
			width: 100%;
		}
		.icon {
			font-size: 46px;
			color: var(--theme-color-white);
			position: absolute;
			top: 50%;
			left: 50%;
			transition: all 0.3s;
			opacity: 0;
			visibility: hidden;
			transform: translate(-50%, -50%) scale(0);
		}
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #092c4c80;
			content: "";
			transform: scale(0);
			opacity: 0;
			transition: all 0.3s;
		}
		&:hover {
			.icon {
				opacity: 1;
				visibility: visible;
				transform: translate(-50%, -50%) scale(1);
			}
			&::before {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}
// Instagram area end here ***

// Instagram two area start here ***
.instagram-section-two {
	overflow: hidden;
	position: relative;
	z-index: 1;
	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 80px;
		z-index: -1;
		content: "";
		background-color: var(--theme-color2);
	}
}
// Instagram two area end here ***
