// Product area start here ***
.product-section {
	overflow: hidden;
	.product-arry-prev {
		@include radius(50px, 50px, 50px);
		background-color: var(--theme-color1);
		border-radius: 0;
		color: var(--theme-color-white);
		font-size: 18px;
		left: -70px;
		opacity: 0;
		position: absolute;
		top: 40%;
		transition: all 0.3s;
		visibility: hidden;
		&:hover {
			background-color: var(--theme-color2);
		}
	}
	.product-arry-next {
		@include radius(50px, 50px, 50px);
		background-color: var(--theme-color1);
		color: var(--theme-color-white);
		font-size: 18px;
		border-radius: 0;
		transition: all 0.3s;
		position: absolute;
		top: 40%;
		right: -70px;
		opacity: 0;
		visibility: hidden;
		&:hover {
			background-color: var(--theme-color2);
		}
	}
	&:hover {
		.product-arry-prev {
			left: -90px;
			opacity: 1;
			visibility: visible;
		}
		.product-arry-next {
			right: -90px;
			opacity: 1;
			visibility: visible;
		}
	}
	.outer-box {
		position: relative;
		z-index: 1;
	}
}
.product-block {
	border-radius: 30px;
	overflow: hidden;
	.image {
		a {
			display: block;
		}
		background-color: #f2e6dd;
		padding: 40px;
		position: relative;
		z-index: 1;
		.star {
			align-items: center;
			background-color: var(--theme-color1);
			border-radius: 24px;
			bottom: -8px;
			display: flex;
			gap: 10px;
			left: 50%;
			opacity: 0;
			padding: 10px 25px;
			position: absolute;
			transform: translateX(-50%);
			transition: all 0.3s;
			visibility: hidden;
			width: 190px;
			i {
				color: var(--theme-color-white);
				font-size: 18px;
			}
		}
		.info {
			bottom: 40px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			position: absolute;
			right: 25px;
			width: 40px;
			a {
				@include radius(40px, 40px, 37px);
				background-color: var(--theme-color2);
				opacity: 0;
				transform: translateX(10px);
				visibility: hidden;
				&:nth-child(1) {
					transition: 0.3s;
				}
				&:nth-child(2) {
					transition: 0.5s;
				}
				&:nth-child(3) {
					transition: 0.7s;
				}
				&:hover {
					background-color: var(--theme-color1);
				}
			}
		}
	}
	.content {
		.price {
			color: var(--theme-color1);
		}
		.title {
			margin-top: 10px;
			a {
				&:hover {
					color: var(--theme-color1);
				}
			}
		}
		background-color: var(--theme-color-gray2);
		padding: 30px;
		text-align: center;
	}
	&:hover {
		.image {
			.star {
				bottom: -18px;
				opacity: 1;
				visibility: visible;
			}
			.info {
				a {
					opacity: 1;
					transform: translate(0);
					visibility: visible;
				}
			}
		}
	}
}

// Product area end here ***

// Product area start here ***
.product-section-three {
	overflow: hidden;
}

.product-slider-three {
	position: relative;
	z-index: 1;
	.slider-arrys {
		@include radius(100px, 100px, 94px);
		background-color: var(--theme-color2);
		@include center;
		opacity: 0;
		top: 40%;
		transition: all 0.3s;
		visibility: hidden;
		z-index: 1;
		button {
			color: var(--theme-color-white);
			font-size: 24px;
			padding: 5px;
			transition: all 0.3s;
			&:hover {
				color: var(--theme-color1);
			}
		}
		@include breakpoint(max-sm) {
			display: none;
		}
	}
	&:hover {
		.slider-arrys {
			top: 42%;
			opacity: 1;
			visibility: visible;
		}
	}
}

.product-block-three {
	.inner-box {
		overflow: hidden;
		.image {
			a {
				display: block;
			}
			padding: 40px;
			background-color: #f5f2f0;
			position: relative;
			z-index: 1;
			.info {
				width: 100%;
				display: flex;
				justify-content: center;
				gap: 10px;
				position: absolute;
				left: 0px;
				bottom: 60px;
				a {
					@include radius(40px, 40px, 37px);
					background-color: var(--theme-color2);
					opacity: 0;
					visibility: hidden;
					transform: translateY(20px);
					&:nth-child(1) {
						transition: 0.3s;
					}
					&:nth-child(2) {
						transition: 0.5s;
					}
					&:nth-child(3) {
						transition: 0.7s;
					}
					&:hover {
						background-color: var(--theme-color1);
					}
				}
			}
		}
		.content {
			.price {
				color: var(--theme-color1);
			}
			.title {
				margin-top: 5px;
				a {
					&:hover {
						color: var(--theme-color1);
					}
				}
			}
			text-align: center;
			padding-top: 15px;
		}
		&:hover {
			.image {
				.info {
					a {
						visibility: visible;
						opacity: 1;
						transform: translate(0);
					}
				}
			}
		}
	}
}
// Product area end here ***
