// Service area start here ***
.service-section {
	@include section;
	.shape1 {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		@include breakpoint(max-lg) {
			display: none;
		}
	}
	.shape2 {
		position: absolute;
		top: 10px;
		right: 0;
		z-index: 1;
		@include breakpoint(max-lg) {
			display: none;
		}
	}
}

.service-block {
	.inner-box {
		text-align: center;
		position: relative;
		-webkit-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		.icon-box {
			position: relative;
			z-index: 1;
			display: inline-block;
			text-align: center;
			.icon-bg {
				width: 167px;
				height: 147px;
				line-height: 147px;
				fill: var(--theme-color-white);
				transition: all 0.3s;
				g {
					fill: inherit;
				}
			}
			.icon {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: all 0.3s;
				z-index: 1;
				font-size: 50px;
				color: var(--theme-color1);
			}
			.icon-shadow {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: all 0.3s;
				z-index: 0;
				width: 100px;
				height: 110px;
				opacity: 0.2;
				font-size: 100px;
				color: rgab(var(--theme-color1-rgb), 0.3);
			}
		}

		.title {
			margin: 15px 0;
			a {
				&:hover {
					color: var(--theme-color1);
				}
			}
		}

		&:hover {
			.icon-box {
				.icon-bg {
					fill: var(--theme-color1);
				}
				.icon {
					color: var(--theme-color-white);
					path {
						fill: var(--theme-color-white);
					}
				}
				.icon-shadow {
					color: var(--theme-color-white);
					path {
						fill: var(--theme-color-white);
					}
				}
			}
		}
	}
}
// Service area end here ***

// Service two area start here ***
.service-section-two {
	overflow: hidden;
	position: relative;
	z-index: 1;
	.service-arry-prev-two {
		position: absolute;
		top: 60%;
		left: 50px;
		font-size: 40px;
		color: var(--text-color);
		transition: all 0.3s;
		opacity: 0;
		visibility: hidden;
		&:hover {
			color: var(--theme-color2);
		}
		@include breakpoint(max-lg) {
			display: none;
		}
	}
	.service-arry-next-two {
		position: absolute;
		top: 60%;
		right: 50px;
		font-size: 40px;
		color: var(--text-color);
		transition: all 0.3s;
		opacity: 0;
		visibility: hidden;
		&:hover {
			color: var(--theme-color2);
		}
		@include breakpoint(max-lg) {
			display: none;
		}
	}
	&:hover {
		.service-arry-prev-two {
			opacity: 1;
			visibility: visible;
			left: 60px;
		}
		.service-arry-next-two {
			opacity: 1;
			visibility: visible;
			right: 60px;
		}
	}
}

.service-slider-two {
	padding-bottom: 35px;
}

.service-block-two {
	.inner-box {
		.image-box {
			position: relative;
			z-index: 1;
			.image {
				border-radius: 30px;
				overflow: hidden;
				mask-image: url(../images/service/service-two-image-masking.png);
				mask-repeat: no-repeat;
				mask-size: cover;
				mask-position: top right;
			}
			.icon {
				@include radius(85px, 85px, 75px);
				border: 5px solid var(--theme-color-gray);
				background-color: var(--theme-color1);
				position: absolute;
				top: 0;
				right: 0;
				transition: all 0.3s;
				svg {
					transition: 0.9s;
				}
			}
		}
		.content {
			max-width: 290px;
			text-align: center;
			margin: 0 auto;
			margin-top: 30px;
			.title {
				margin-bottom: 10px;
				a {
					&:hover {
						color: var(--theme-color1);
					}
				}
			}
		}
		.shape {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: -1;
		}
		.arry-icon {
			@include radius(55px, 55px, 50px);
			background-color: var(--theme-color2);
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0;
			visibility: hidden;
			&:hover {
				background-color: var(--theme-color1);
			}
		}
		padding: 30px;
		padding-bottom: 40px;
		background-color: var(--theme-color-white);
		border-radius: 30px;
		position: relative;
		z-index: 1;
		&:hover {
			.icon {
				background-color: var(--theme-color2);
				svg {
					transform: rotateY(360deg);
				}
			}
			.arry-icon {
				opacity: 1;
				visibility: visible;
				bottom: -35px;
			}
		}
	}
}
// Service two area end here ***

// Service three area start here ***
.service-section-three {
	overflow: hidden;
	position: relative;
	z-index: 1;

	.service-arry-prev-three {
		position: absolute;
		top: 60%;
		left: 50px;
		font-size: 40px;
		color: var(--text-color);
		transition: all 0.3s;
		opacity: 0;
		visibility: hidden;
		&:hover {
			color: var(--theme-color2);
		}
		@include breakpoint(max-lg) {
			display: none;
		}
	}
	.service-arry-next-three {
		position: absolute;
		top: 60%;
		right: 50px;
		font-size: 40px;
		color: var(--text-color);
		transition: all 0.3s;
		opacity: 0;
		visibility: hidden;
		&:hover {
			color: var(--theme-color2);
		}
		@include breakpoint(max-lg) {
			display: none;
		}
	}
	&:hover {
		.service-arry-next-three {
			opacity: 1;
			visibility: visible;
			right: 60px;
		}
		.service-arry-prev-three {
			opacity: 1;
			visibility: visible;
			left: 60px;
		}
	}
	.shape1 {
		position: absolute;
		top: 150px;
		left: 45px;
		z-index: -1;
	}
	.shape2 {
		position: absolute;
		top: 10px;
		right: 0px;
		z-index: -1;
		@include breakpoint(max-lg) {
			display: none;
		}
	}
}

.service-slider-three {
	padding-bottom: 35px;
}

.service-block-three {
	.inner-box {
		.image-box {
			position: relative;
			z-index: 1;
			.image {
				border-radius: 30px;
				overflow: hidden;
				mask-image: url(../images/service/service-two-image-masking.png);
				mask-repeat: no-repeat;
				mask-size: cover;
				mask-position: top right;
			}
			.icon {
				@include radius(85px, 85px, 75px);
				border: 5px solid var(--theme-color-gray);
				background-color: var(--theme-color1);
				position: absolute;
				top: 0;
				right: 0;
				transition: all 0.3s;
				svg {
					transition: 0.9s;
				}
			}
		}
		.content {
			max-width: 290px;
			text-align: center;
			margin: 0 auto;
			margin-top: 30px;
			.title {
				margin-bottom: 10px;
				a {
					&:hover {
						color: var(--theme-color1);
					}
				}
			}
		}
		.inner-shape {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: -1;
		}
		.arry-icon {
			@include radius(55px, 55px, 50px);
			background-color: var(--theme-color2);
			position: absolute;
			bottom: -20px;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0;
			visibility: hidden;
			&:hover {
				background-color: var(--theme-color1);
			}
		}
		padding: 30px;
		padding-bottom: 40px;
		background-color: var(--theme-color-gray);
		border-radius: 30px;
		position: relative;
		z-index: 1;
		&:hover {
			.icon {
				background-color: var(--theme-color2);
				svg {
					transform: rotateY(360deg);
				}
			}
			.arry-icon {
				opacity: 1;
				visibility: visible;
				bottom: -35px;
			}
		}
	}
}
// Service three area end here ***

// Service four area start here ***
.service-section-four {
	overflow: hidden;
	position: relative;
	z-index: 1;

	.shape1 {
		position: absolute;
		top: 70px;
		left: 0px;
		z-index: -1;
		@include breakpoint(max-lg) {
			display: none;
		}
	}

	.shape2 {
		position: absolute;
		top: 30px;
		right: -30px;
		z-index: -1;
		@include breakpoint(max-lg) {
			display: none;
		}
	}
}

.service-block-four {
	.inner-box {
		text-align: center;
		.icon-box {
			display: inline-block;
			position: relative;
			z-index: 1;
			.icon {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: 0.7s;
				font-size: 60px;
				color: var(--theme-color1);
				path {
					transition: all 0.3s;
				}
			}
			.icon-bg {
				path {
					transition: all 0.3s;
				}
			}
		}
		.title {
			margin: 20px 0;
			text-transform: capitalize;
			a {
				&:hover {
					color: var(--theme-color1);
				}
			}
		}
		.arry-btn {
			margin-top: 30px;
			font-size: 24px;
			color: var(--headings-color);
			&:hover {
				color: var(--theme-color1);
				transform: translateX(10px);
			}
		}
		&:hover {
			.icon {
				color: var(--theme-color-white);
				transform: translate(-50%, -50%) rotateY(360deg);
				path {
					fill: var(--theme-color-white);
				}
			}
			.icon-box {
				.icon-bg {
					path {
						fill: var(--theme-color1);
					}
				}
			}
		}
	}
}
// Service four area end here ***

// Service five area start here ***
.service-section-five {
	overflow: hidden;
	position: relative;
	z-index: 1;
	.shape {
		position: absolute;
		top: 30%;
		left: 0px;
		z-index: -1;
	}
}

.service-block-five {
	.inner-box {
		text-align: center;
		padding: 0 15px;
		.icon-box {
			display: inline-block;
			position: relative;
			z-index: 1;
			.icon {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: 0.7s;
				path {
					transition: all 0.3s;
				}
			}
			.icon-bg {
				path {
					transition: all 0.3s;
				}
			}
		}
		.title {
			margin: 20px 0;
			text-transform: capitalize;
			a {
				&:hover {
					color: var(--theme-color1);
				}
			}
		}
		.arry-btn {
			margin-top: 30px;
			font-size: 20px;
			color: var(--headings-color);
			display: flex;
			align-items: center;
			gap: 10px;
			justify-content: center;
			transition: 0.5s;
			transform: translate(-50px);
			span {
				font-size: 16px;
				font-weight: 500;
				color: var(--theme-color2);
				font-family: var(--text-font);
				display: inline-block;
				transition: all 0.3s;
				opacity: 0;
				visibility: hidden;
			}
			i {
				display: inline-block;
			}
			&:hover {
				color: var(--theme-color1);
			}
		}
		&:hover {
			.arry-btn {
				transform: translate(0px);
				span {
					opacity: 1;
					visibility: visible;
				}
			}
			.icon {
				transform: translate(-50%, -50%) rotateY(360deg);
				path {
					fill: var(--theme-color-white);
				}
			}
			.icon-box {
				.icon-bg {
					path {
						fill: var(--theme-color1);
					}
				}
			}
		}
	}
}
// Service five area end here ***

// Service six area start here ***
.service-section-six {
	position: relative;
	z-index: 1;
}

.service-block-six {
	position: sticky;
	top: 0px;
	z-index: 1;
	.title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		font-size: 130px;
		line-height: 120px;
		font-weight: 400;
		color: var(--theme-color-white);
		text-align: center;
		text-transform: capitalize;
		z-index: 1;
		a {
			&:hover {
				color: var(--theme-color1);
			}
		}

		@include breakpoint(max-lg) {
			font-size: 80px;
			line-height: 80px;
		}

		@include breakpoint(max-sm) {
			font-size: 40px;
			line-height: 40px;
		}
	}
	.image {
		position: relative;
		z-index: 1;
		overflow: hidden;
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			background-color: #1c1a1d33;
			z-index: 1;
		}
	}
}
// Service six area end here ***
