// Team area start here ***
.team-section {
	overflow: hidden;
	position: relative;
	z-index: 1;
	.slider-arry {
		@include flex;
		gap: 20px;
		button {
			transition: all 0.3s;
			@include radius(50px, 50px, 50px);
			border-radius: 3px;
			background-color: #f6ecec;
			font-size: 18px;
			&:hover {
				color: var(--theme-color-white);
				background-color: var(--theme-color1);
			}
		}
	}
}

.team-slider {
	margin-right: -18%;
	padding-bottom: 20px;
	@include breakpoint(max-lg) {
		margin-right: 0;
	}
}

.team-block {
	position: relative;
	z-index: 1;
	.image {
		border-radius: 30px;
		overflow: hidden;
		position: relative;
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			background-color: #1c1a1d80;
			width: 100%;
			height: 100%;
			content: "";
			opacity: 0;
			transition: all 0.3s;
		}
	}
	.title {
		margin-bottom: 5px;
	}
	.socials {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		display: flex;
		flex-direction: column;
		gap: 10px;
		li {
			a {
				opacity: 0;
				visibility: hidden;
				transform: translateY(-20px);
				svg {
					transition: 0.7s;
				}
				&:hover {
					svg {
						transform: rotateY(360deg);
						path {
							fill: var(--theme-color1);
						}
					}
				}
			}
		}
	}
	.content {
		background-color: var(--theme-color-gray);
		padding: 18px;
		text-align: center;
		position: absolute;
		bottom: -20px;
		left: 50%;
		transform: translateX(-50%);
		width: 80%;
		transition: all 0.3s;
		overflow: hidden;
		.shape {
			position: absolute;
			top: -10px;
			left: -10px;
			z-index: -1;
			transition: all 0.3s;
			opacity: 0;
			visibility: hidden;
		}
		span {
			transition: all 0.3s;
		}
	}
	&:hover {
		.image {
			&::after {
				opacity: 1;
			}
		}
		.socials {
			li {
				a {
					opacity: 1;
					visibility: visible;
					transform: translate(0);
				}
				&:nth-child(1) {
					a {
						transition: 0.3s;
					}
				}
				&:nth-child(2) {
					a {
						transition: 0.5s;
					}
				}
				&:nth-child(3) {
					a {
						transition: 0.7s;
					}
				}
				&:nth-child(4) {
					a {
						transition: 0.9s;
					}
				}
			}
		}
		.content {
			.title {
				a {
					color: var(--theme-color-white);
				}
			}
			span {
				color: var(--theme-color-white);
			}
			background-color: var(--theme-color1);
			.shape {
				top: 0;
				left: 0;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
// Team area end here ***
